* { 
    box-sizing: border-box; 
    
}
textarea, select, input, button { outline: none; }
div{
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none; 
}
h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
ul { 
    list-style: none;
    padding: 0px; 
    margin: 0px;
}
a { 
    text-decoration: none; 
}
p{
    margin: 0px;
    
}