

//size =============
$sizeFooterHeight : 31vh;
$sizeMainHeight: 100vh - $sizeFooterHeight;
$sizeMainWidth: 100%;

$sizeSeasonscolumnHeight : 20vh;
$sizeSeasonscolumnWidth : 30%; 

$paddingTop: 2rem;
$paddingLeft: 3.25rem;
$paddingRight: $paddingLeft;


$footerTextColor: #9fa0a2;